{% extends 'template_base.html' %}

{% block title_page %}
    <title>Crear Etiqueta | Foro</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="titulo">Crear Nueva Etiqueta</h1>
    <form method="post" class="formulario-etiqueta">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_nombre">Nombre</label>
            {{ form.nombre }}
        </div>
        <button type="submit" class="btn btn-primary">Crear Etiqueta</button>
    </form>
</div>
{% endblock %}
