{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title_page %}
        <title>Foro</title>
    {% endblock title_page %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

    <!-- Navbar -->
    {% block navbar %}
    <nav>
        <div class="nav-left">
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'listar' %}">Categorías</a>
            <a href="/publicaciones/">Publicaciones</a>
            {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </div>
        
        {% if user.is_authenticated %}
    <div class="nav-right">
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-button">Cerrar sesión</button>
        </form>
    </div>
{% endif %}
    </nav>
    {% endblock navbar %}

    

    <!-- Cuerpo -->
    <main>
        {% block body %}
        <p>oli</p>
        {% endblock body %}
    </main>

    <!-- Footer -->
    {% block footer %}
    <footer>
        <p>© 2025 - Foro - Jordán Espinoza</p>
    </footer>
    {% endblock footer %}

</body>
</html>
