{% load static %}
{% load mention_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title_page %}
        <title>Foro</title>
    {% endblock title_page %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <!-- Navbar -->
    {% block navbar %}
    <nav>
        <div class="nav-left">
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'listar' %}">Categorías</a>
            <a href="{% url "listar_publicaciones" %}">Publicaciones</a>

            {% if user.is_authenticated %}
                <a href="{% url 'perfil_usuario' usuario_id=user.id %}" class="link-perfil-usuario">Perfil</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
            {% endif %}
        </div>
        
{% if user.is_authenticated %}
    <a class="nav-link position-relative {% if cantidad_no_leidas > 0 %}fw-bold{% endif %}" href="{% url 'ver_notificaciones' %}">
        <span class="{% if cantidad_no_leidas > 0 %}text-danger{% else %}text-dark{% endif %}">🔔</span>
        {% if cantidad_no_leidas > 0 %}
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{ cantidad_no_leidas }}
                <span class="visually-hidden">notificaciones no leídas</span>
            </span>
        {% endif %}
    </a>
{% endif %}





        {% if user.is_authenticated %}
        <div class="nav-right">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Cerrar sesión</button>
            </form>
        </div>
        {% else %}
        {% endif %}
    </nav>
    {% endblock navbar %}

    <!-- Contenedores de publicidad (fuera del área del navbar) -->
     
    <div class="ad-left">
        <!-- Aquí agregas el código del anuncio que quieres mostrar -->
      <!--  <img src="{% static "images/banner01.jpg" %}" alt="Anuncio izquierdo">-->
    </div>

    <div class="ad-right">
        <!-- Aquí agregas el código del anuncio que quieres mostrar -->
       <!--  <img src="{% static "images/banner02.jpg" %}" alt="Anuncio derecho">-->
    </div>

    <main>
        {% block body %}
        <p>oli</p>
        {% endblock body %}
    </main>

    <!-- Footer -->
    {% block footer %}
    <footer>
        <p>© 2025 - Foro - Jordán Espinoza</p>
    </footer>
    {% endblock footer %}

</body>
</html>
